.container,
.row,
.div{
 border: 1px solid black;
}
.sodoku{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}

table,
tr,
td{
    border: 1px solid black;
}

td{
    font-size: 25px;
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}
tr:nth-child(4){
    border-top: 3px solid black;
}
tr:nth-child(7){
    border-top: 3px solid black;
}


.zona{
    background-color: red;
}
.tercero{
    border: 10px solid black;
}
td:hover{
    background-color: lightgreen;
}
.selec{
    width: 200px;
}